.list-circle {
  position: relative;

  &::before {
    content: '';
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #333;
    position: absolute;
    top: 50%;
    left: 0;
  }
}
